<!DOCTYPE HTML PUBLIC>
http://www.htmliseasy.com/popup/
<head>
</head>
<html>
<body>

<form action="action_page.php">
  <fieldset>
    <legend>Set Session Parameters:</legend>
    Instructor:<br>
    <input type="text" name="firstname" value="Mr. Chabli Boler">
    <br>
    Number of Paragraphs:<br>
    <input type="text" name="lastname" value="7">
    <br><br>
    <input type="submit" value="Submit">
    <form name="myWebForm" action="mailto:youremail@email.com" method="post">
<input type="file" name="uploadField" />
</form>
  </fieldset>
</form>




</body>
</html>